[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eikosograms"]
	path = eikosograms
	url = https://github.com/rwoldford/eikosograms
[submodule "qqtest"]
	path = qqtest
	url = https://github.com/rwoldford/qqtest
